altair==4.1.0
streamlit==0.83.0
requests==2.25.1
colour==0.1.5
torch==1.7.1
transformers>=3.4.0
spacy==3.0.6
pandas==1.2.1
medspacy==0.1.0.2
spacy-transformers==1.0.3
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bionlp13cg_md-0.4.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bc5cdr_md-0.4.0.tar.gz
https://med7.s3.eu-west-2.amazonaws.com/en_core_med7_trf.tar.gz